.form-container {
    max-width: 500px;
    margin: 20px auto;
}

.form-container h1 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilização dos campos do Django (form.as_p) */
.django-form p {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.django-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.django-form input[type='text'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.django-form input[type='checkbox'] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Ações do Formulário */
.form-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn-save {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 2;
    transition: background 0.3s;
}

.btn-save:hover {
    background: #218838;
}

.btn-cancel-link {
    text-decoration: none;
    background-color: #6c757d;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-align: center;
    flex-grow: 1;
}
