.object-fit-contain {
    object-fit: contain; /* Garante que a foto não seja cortada, mantendo a proporção */
}
.carousel-item {
    background-color: #f8f9fa; /* Fundo cinza claro para fotos com fundo transparente */
}
